*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}


body {
    background-color: rgb(245, 245, 245);
}
.main-header{
    background-color:#FC766AFF;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    text-emphasis: bold;
    padding:3em;
    
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: futura Arial, Helvetica, sans-serif;
    position:fixed;
    background-color: #434242;
    right:7px;
    z-index:100;
}
.navbar li{
    list-style-type: none;
}
.navbar a{
    display: block;
    text-align: center;
    padding:8px 16px;
    
    color:rgb(245, 245, 245);
    text-align: center;
    text-decoration: none;
}
.navbar a:hover{
    color:rgba(245, 245, 245, 0.356);
    
}  
.navbar a:focus{
    background-color:#FC766AFF ;
    color:rgb(245, 245, 245)
}
.subheadings{
    text-align: center;
    font-size:32px;
    
}
.project-box {
    background-color: rgb(215, 216, 216);
    width:25em;
    height:10em;
} 
.project-section-one {
    display:flex;
    gap:5em;
    padding-top: 5em;
    padding-bottom: 5em;
    
    
}
